@import "config";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $bg-main;
  font-family: "Roboto", sans-serif;
  color: $main-color;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0;
}
button,
a {
  transition: all 0.1s;
  &:hover {
    opacity: 0.8;
  }
}

.btn {
  padding: 5px 10px;
  transition: all 0.1s;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border,
    1px 2px 1px $border, 3px 2px 1px $border, 2px 3px 1px $border;
  &:active {
    border: none;
    box-shadow: 1px 0px 1px $border, 0px 1px 1px $border, 2px 1px 1px $border;
    transform: translate(1px, 1px);
  }
}

// CONTAINER ///////////////////////////////////////

.container {
  padding: 20px;
  background-color: $main-theme;
  max-width: 70vw;
  margin: 0 auto;
  position: relative;
  top: 50px;
}
.controls {
  text-align: right;
  .add_btn {
    margin-bottom: 15px;
    text-align: right;
    background-color: $bg-main;
  }
}

.bookcards_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.card {
  background-color: $bg-main;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  border-bottom: $border solid;
  border-right: $border solid;
  .name {
    margin: 0;
  }

  .status {
    display: flex;
    gap: 5px;
  }
  .remove_btn {
    align-self: end;
    position: relative;
    bottom: -10px;
    right: -10px;
    background-color: $main-theme;
  }
}

// POPUPFORM /////////////////////////////////////////////////////
#overlay.visually-hidden {
  opacity: 0;
}
#overlay.hidden {
  display: none;
}

#overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: opacify($color: transparent, $amount: 0.4);

  transition: all 0.5s;
}

#pop-up-form {
  color: $main-color;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  margin-left: 0;
  width: clamp(85%, 30%, fit-content);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: $main-theme;
  border: 3px solid $border;
  input {
    padding: 3px 5px;
    margin-bottom: 15px;
  }
}
.new-pages-status {
  display: flex;
  gap: 5px;
  align-items: baseline;
}
#new-pages {
  width: 8ch;
  text-align: right;
}
.add_new-book_btn {
  background-color: $bg-main;
}
